@model IEnumerable<CoffeeShop.Database.Data.CMS.GrindLevel>

@{
    Layout = "_ItemLayout";
}


<div style="padding: 20px;">
    <h1 style="margin-bottom: 30px;">Lista poziomów zmielenia</h1>
    <a asp-action="Create" class="mdc-button mdc-button--raised filled-button--light">Dodaj nowy</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.GrindName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th style="text-align:center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.GrindName)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td style="text-align:center">
                @* <a asp-action="Edit" asp-route-id="@item.IdGrindLevel">Edytuj</a> | *@
                <a asp-action="Details" asp-route-id="@item.IdGrindLevel">Szczegóły</a>
               @*  <a asp-action="Delete" asp-route-id="@item.IdGrindLevel">Usuń</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

