@model IEnumerable<CoffeeShop.Database.Data.CMS.ProductType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ItemLayout.cshtml";
}

<h1>Typy produktów</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th style="text-align:center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td style="text-align:center">
                <a asp-action="Edit" asp-route-id="@item.IdProductType">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductType">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductType">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
